<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>sticky</title>
</head>

<body>

  <div class="nav-container">
    <ul>
      <li class="item active" data-item=1>List Item 1</li>
      <li class="item" data-item=2>List Item 2</li>
      <li class="item" data-item=3>List Item 3</li>
      <li class="item" data-item=4>List Item 4</li>
      <li class="item" data-item=5>List Item 5</li>
    </ul>
  </div>

  <div class="data-div">
    <table>
      <tr>
        <th>Active Section</th>
        <th>Bottom</th>
        <th>Top</th>
        <th>Offset</th>
        <th>top - offset</th>
      </tr>
      <tr class="data">
      </tr>
    </table>

  </div>


  <div class="container">
    <section data-section="1">
      <h2>Section 1</h2>Lorem ipsum dolor sit amet, vix ei virtute habemus periculis, an quo assum propriae oportere, ne clita legere scribentur vel. Mea forensibus reprehendunt mediocritatem et. No eos facer dolores philosophia. Dictas eleifend per te. Eu nec homero disputando,
      fugit commune prodesset vim te. Vis ad illud audire rationibus, et vim erroribus imperdiet.</section>

    <section data-section="2">
      <h2>Section 2</h2>Lorem ipsum dolor sit amet, vix ei virtute habemus periculis, an quo assum propriae oportere, ne clita legere scribentur vel. Mea forensibus reprehendunt mediocritatem et. No eos facer dolores philosophia. Dictas eleifend per te. Eu nec homero disputando,
      fugit commune prodesset vim te. Vis ad illud audire rationibus, et vim erroribus imperdiet.</section>

    <section data-section="3">
      <h2>Seciton 3</h2>Lorem ipsum dolor sit amet, vix ei virtute habemus periculis, an quo assum propriae oportere, ne clita legere scribentur vel. Mea forensibus reprehendunt mediocritatem et. No eos facer dolores philosophia. Dictas eleifend per te. Eu nec homero disputando,
      fugit commune prodesset vim te. Vis ad illud audire rationibus, et vim erroribus imperdiet.</section>

    <section data-section="4">
      <h2>Section 4</h2>Lorem ipsum dolor sit amet, vix ei virtute habemus periculis, an quo assum propriae oportere, ne clita legere scribentur vel. Mea forensibus reprehendunt mediocritatem et. No eos facer dolores philosophia. Dictas eleifend per te. Eu nec homero disputando,
      fugit commune prodesset vim te. Vis ad illud audire rationibus, et vim erroribus imperdiet.</section>

    <section data-section="5">
      <h2>Section 5</h2>Lorem ipsum dolor sit amet, vix ei virtute habemus periculis, an quo assum propriae oportere, ne clita legere scribentur vel. Mea forensibus reprehendunt mediocritatem et. No eos facer dolores philosophia. Dictas eleifend per te. Eu nec homero disputando,
      fugit commune prodesset vim te. Vis ad illud audire rationibus, et vim erroribus imperdiet.</section>

  </div>
</body>

</html>
