@import 'variables';

a,
body,
li,
ul {
  color: $white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: $bg-blue;
}

ul.nav {
  display: block;
  width: 20%;

  li {
    background: rgba(0,0,0,.4);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    color: rgb(255,255,255);
    display: block;
    font-size: 24px;
    height: $li-height;
    line-height: $li-height;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;

    a {
      display: block;
      height: 100%;
    }
  }
}
