$nav-height: 50px;
$bg-green: rgba(46, 204, 113,1.0);
$bg-blue: rgba(52, 152, 219,1.0);
$bg-yellow: rgba(241, 196, 15,1.0);
$bg-red: rgba(231, 76, 60,1);
$white: rgb(255,255,255);
$faded-white: rgba(255,255,255,.8);
$shadow-height: 5px;
$section-spacing: 100px;

body {
  background-color: $bg-green;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section {
  background-color: $faded-white;
  width: 50%;
  max-width: 600px;
  height: 500px;
  margin: $section-spacing auto;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

  &:first-of-type {
    margin-top: $nav-height + $shadow-height;
  }
}
.data-div,
.nav-container {
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 2px 10px 10px rgba(0,0,0,.2);
}

.nav-container {
  margin: 0;
  padding: 0;
  height: $nav-height;
  overflow: none;
  background: rgba(0,0,0,1);

  ul {
    height: 100%;
    background: $bg-red;
    list-style-type: none;
  }

  .item {
    display: inline-block;
    width: 250px;
    box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    transition: box-shadow .4s ease-in;
    height: 100%;
    text-align: center;
    font-size: 24px;
  }
}


.data-div {
  top: $nav-height;
  right: 0;
  width: 10%;
  min-width: 300px;
  max-width: 500px;
}

.item.active {
  color: rgb(255,255,255);
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
}
